<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Flickr-shmikr</title>
  <!-- js.deps -->
</head>
<body class="container">
  <header>
    <div class="right">
      <span class="label">Press '?' to view help on shortcuts.</span>
    </div>
    <h1><a href="#">Showkr</a></h1>
  </header>

  <div class="row">
    <div id="main" class="span16">

    </div>
  </div>

  <footer>
    © 2011 <a href="http://solovyov.net/">Alexander Solovyov</a>
  </footer>

  <div id="help" class="ender-overlay zebra-striped">
    <h3>Available keys</h3>

    <dl>
      <dt>j, down</dt>
      <dd>Go to next photo</dd>

      <dt>k, up</dt>
      <dd>Go to previous photo</dd>
    </dl>
  </div>

  <script type="text/template" id="form-template">
    <fieldset>
      <div class="clearfix">
        <div class="input">
          <input type="text" name="url" placeholder="Enter url or id of a photoset">
        </div>
      </div>
      <% if (history) { %>
      <div class="input">
        Or select something from your history:
        <ul>
          <% _.each(history, function(item) { %>
          <li><a href="#<%= item[0] %>"><%= item[1] %></a></li>
          <% }); %>
        </ul>
      </div>
      <% } %>
      <div class="actions">
        <input type="submit" class="btn primary">
      </div>
    </fieldset>
  </script>

  <script type="text/template" id="set-template">
    <h1>
      <%= title() %>
      <% if (description()) { %>
      <small><%= description() %></small>
      <% } %>
    </h1>
  </script>

  <script type="text/template" id="photo-template">
    <h3><%= title() %> <a class="idlink" href="#<%= setId() %>/<%= id %>">¶</a></h3>
    <div class="row">
      <div class="span11">
        <a href="<%= flickrUrl() %>"><img src="<%= url() %>"></a>
      </div>
      <ul class="span5 comments">
      </ul>
    </div>
  </script>

  <script type="text/template" id="comment-template">
    <div class="avatar">
      <img src="<%= icon() %>">
    </div>
    <div>
      <a href="<%= authorlink() %>"><%= authorname() %></a>
      <a href="<%= permalink() %>" class="idlink">¶</a>
    </div>
    <%= content() %>
  </script>

  <script type="text/javascript">
    app = new Showkr();
    require('backbone').history.start()
  </script>
</body>
</html>
