@import 'bootstrap/bootstrap.less';

.anchor:link, .anchor:visited {
    color: #a5a5a5;
}

h1, h2, h3, div {
    > .anchor {
        display: none;
    }

    &:hover > .anchor {
        display: inline;
    }
}

.right {
    float: right;

}

header > .right {
    margin-top: 0.5em;
}

ul.comments {
    list-style-type: none;
    margin-left: 0;
}

.comment {
    .clearfix();

    .avatar {
        float: left;
        margin-right: 0.5em;
        margin-bottom: 1px;
        padding: 4px;
        border: 1px solid #ddd;

        img {
            height: 36px;
            width: 36px;
        }
    }
}

footer {
    padding: 10px 30px;
    text-shadow: 0 1px 0 white;
    border-top: 1px solid #E5E5E5;
    -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
    -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

.pagination {
    ul, a {
        border: none;
        .box-shadow(none);
    }
}
